{% extends 'map/webGIS.html' %}
{% load static %}


{% block title %}WebMap{% endblock title %}

{% block stylesheet %}

    {#    <style>#}
    {#        #map {#}
    {#            width: 100%;#}
    {#            position: relative;#}
    {#            height: calc(100vh - 57px);#}
    {#        }#}
    {#    </style>#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock stylesheet %}


{% block content %}
    <div>
        <div id="map"></div>
    </div>

    {% block javascript %}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endblock javascript %}

{% endblock content %}

{% block extras %}

    <script>
        var users = new L.featureGroup();
        var geojsonLayer;
        var user = [];


        function makePopupContent(profile) {
                        return ` <div class='userPopup'>
                                    <h4>User Information</h4>
                                    <div class='userData'>
                                        <p>Name : ${profile.properties.first_name} ${profile.properties.last_name}</p>
                                        <p> Username: ${profile.properties.username}</p>
                                        <p>Email: ${profile.properties.email}</p>
                                        <p>Address: ${profile.properties.address}</p>
                                    </div>

                                    <div class="phone-number">
                                        <a href="tel:${profile.properties.phone}">${profile.properties.phone}</a>
                                    </div>
                                    <hr>
                                    <div class="coordinates">
                                        <p>
                                            Lat : ${profile.geometry.coordinates[1].toFixed(5)}
                                            Lng : ${profile.geometry.coordinates[0].toFixed(5)}
                                        </p>
                                    </div>
                                </div> `;
        }

        const onEachFeature = (feature, layer) => {
            layer.bindPopup(makePopupContent(feature), {closeButton: true, offset: L.point(0, -8)});
        };

        $.getJSON("{% url 'user_profiles' %}", function (data) {
            geojsonLayer = new L.geoJSON(data, {
                onEachFeature: onEachFeature
            }).addTo(users)
        });
        users.addTo(map);


        // map overlays
        const overLays = {
            "Users": users,
        };

        L.control.layers(basemaps, overLays, {collapsed: true, position: 'topright'}).addTo(map);
    </script>
{% endblock extras %}