{% extends 'base.html' %}
{% load crispy_forms_tags  crispy_forms_filters %}
{% block title %}Password Reset Confirm Page{% endblock %}

{% block stylesheet %}
    <style>

        {#input {#}
        {#    width: 100%;#}
        {#    padding-bottom: 50px;#}
        {#    padding-left: 80px;#}
        {#    background: #5b80b2;#}
        {#}#}

        input[type=password] {
            width: 100%;
            border: none;
            background: #5b80b2;
            border-bottom: 2px solid cornflowerblue;
            border-radius: 50px;
        }

        input[type=submit] {
            width: 10%;
            align-content: center;
            border-radius: 50px;
        }

        li {
            display: none;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Password Reset Confirm Page</h4>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <br>
                            <input class="btn btn-primary btn-block" type="submit" value="Reset Password Confirm">
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}