{% extends 'base.html' %}
{% load crispy_forms_tags crispy_forms_field %}
{% load static crispy_forms_tags %}
{% block title %}Profile{% endblock title %}


{% block content %}
    <div class="cover">
        <div class="container ">
            <div class="jumbotron">
                <h1 class="display-4">User Information</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention to featured content or information.</p>
                <hr class="my-4">
                <div style="text-align: center">
                    <p style="font-weight: bold"> Full Name : {{ request.user.first_name }} {{ request.user.last_name }}</p>
                    <p>Username: {{ request.user.username }}</p>
                    <p>Email : {{ request.user.email }}</p>
                    <p>Phone: {{ request.user.phone }}</p>
                    <p>Address: {{ request.user.address }}</p>
                    <p class="lead">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Edit Account
                        </button>
                    </p>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post">{% csrf_token %}

                                {% for field in update_form %}
                                    <p>
                                        {{ field.label_tag }}
                                        {{ field }}

                                        {% if field.help_text %}
                                            <small style="color: grey;">{{ field.help_text }}</small>
                                        {% endif %}
                                    </p>
                                {% endfor %}
                                {% for field in update_form_form %}
                                    {% for error in field.errors %}
                                        <p style="color: red;">{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}

                                {% if update_form.non_field_errors %}
                                    <div style="color: red;">
                                        <p>{{ update_form.non_field_errors }}</p>
                                    </div>
                                {% endif %}
                                {% if success_message %}
                                    <p style="color:green; text-align: center;">{{ success_message }}</p>
                                {% endif %}

                                <button type="submit" class="btn btn-secondary">Update Account</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
