<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% block title %}Password Update{% endblock title %}
{% block content %}

    <h2 class="text-center">Update Password</h2>
    <div class="col-md-6 offset-md-3">
    <form method="post" action="{% url 'update_password' %}">{% csrf_token %}

        {% for field in password_form %}
            <p>
                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small style="color: grey;">{{ field.help_text }}</small>
                {% endif %}
            </p>
        {% endfor %}
        {% for field in password_form %}
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        {% if password_form.non_field_errors %}
            <div style="color: red;">
                <p>{{ password_form.non_field_errors }}</p>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-secondary">Change Password</button>
    </form>
    </div>

    <div class="d-flex flex-column">
        <a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>
    </div>
{% endblock content %}