
#map {
    width: 100%;
    margin: 0;
    position: fixed;
    height: calc(100vh - 57px);
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}


.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-content-wrapper h4 {
    padding: 15px;
    background: #055d5c;
    color: #fff;
    font-size: 16px;
}
.leaflet-popup-content-wrapper p {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
    font-weight: bold;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number {
    padding: 0 16px 16px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number a {
    color: #055d5c;
    font-size: 14px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .coordinates p {
    color: grey;
    letter-spacing: 1px;
    font-size: 15px;
}