{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">WebMapping System</h1>
            <h2>Welcome to Web Geographic Information system.</h2>
            <br>
            <p class="lead">(LIS) is a geographic information system for cadastral and land use mapping, typically used
                by
                local
                governments. <br>
                An LIS consists of an accurate, current and reliable land record cadastre and its associated attribute
                and
                spatial <br>
                data that represent the legal boundaries of land tenure and provides a vital base layer capable of
                integration into <br>
                other geographic systems or as a standalone solution that allows data stewards to retrieve, create,
                update,
                store, view, <br> analyze and publish land information.</p>
        </div>
    </div>

{% endblock content %}




