{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">WebMapping System</h1>
            <h2>Welcome to Web Geographic Information system.</h2>
            <br>
            <p class="lead" style="color: black;">A geographic information system (GIS) is a system that creates,
                manages, analyzes, and maps all types of data. GIS connects data to a map, integrating location data
                (where things are) with all types of descriptive information (what things are like there). This provides
                a foundation for mapping and analysis that is used in science and almost every industry. GIS helps users
                understand patterns, relationships, and geographic context. The benefits include improved communication
                and efficiency as well as better management and decision making..</p>
        </div>
    </div>

{% endblock content %}




